

.oc-bg-hover1
{
	background-color: #88c1d0;
	color:white;
}
.oc-text-hover :hover
{
	background-color: #FFC107;
}
.oc-bg-footer-acueil
{
	background-color: #1c86a2;
}
.oc-border-none
{
	    border-style: none;
}