

@media only screen  and (min-width: 1600px) 
{
	body
	{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	section
	{
			background-color: #88c1d0;
		width: 300px;
		height: 200px;
	}


}




@media only screen and ( max-width: 1599px ) and ( min-width: 768px ) 
{
	body
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	section
	{
		background-color: #88c1d0;
		width: 35%;
		height: 200px;
		
		margin-left: 74px;
		margin-top: 2%;



	}
}

@media only screen and ( max-width: 767px )
{
	body
	{
		display: flex;
		flex-direction: column;
		height: 900px;
		
	}
	section
	{
		margin: auto;
		background-color: #88c1d0;
		width: 30%;
		height: 200px;
		margin-top: 10px;	
	}
}